.popular {
    background: #ECECEC;
}

.popular__products {
    padding-block: 88px;
}

.popular-card {
    background: #fff;
}

.popular-card {
    padding-top: 0;

    img {
        position: static;
    }
}